In [1]:
!! mkdir cmv_VDJtools_format

[]

In [5]:
import pandas as pd

In [35]:
sample = 'HIP04555.tsv'
df = pd.read_csv('cmv/{}'.format(sample))
df.head()

,rearrangement,amino_acid,templates,reads,v_gene,j_gene,v_family,j_family,v_index
0,CTGGAGTCGGCTGCTCCCTCCCAGACATCTGTGTACTTCTGTGCCA...,CASSEASGANVLTF,5,130,BV06-01,BJ02-06,BV06,BJ02,39
1,ATGAATGTGAGCACCTTGGAGCTGGGGGACTCGGCCCTTTATCTTT...,CASSLAGNTIYF,5,114,BV05-01,BJ01-03,BV05,BJ01,45
2,GACCTCCCCCTCACTCTGGAGTCTGCTGCCTCCTCCCAGACATCTG...,CASRNEQFF,1,45,BV10-01,BJ02-01,BV10,BJ02,54
3,CCCCTCACTCTGGAGTCTGCTGCCTCCTCCCAGACATCTGTATATT...,CASSDAYEQYF,1,44,BV10-01,BJ02-07,BV10,BJ02,48
4,ATGAATGTGAGCACCTTGGAGCTGGGGGACTCGGCCCTTTATCTTT...,CASSLGNTEAFF,2,44,BV05-01,BJ01-01,BV05,BJ01,45

In [31]:
columns = ['count', 'frequency', 'CDR3nt', 'CDR3aa', 'V', 'D', 'J']

new_df = pd.DataFrame(columns=columns)
new_df

Empty DataFrame
Columns: [count, frequency, CDR3nt, CDR3aa, V, D, J]
Index: []

In [32]:
count_sum = df['templates'].sum()
count_sum

471925

In [33]:
new_df['count'] = df['templates']

new_df['frequency'] = df['templates'] / count_sum

new_df['CDR3nt'] = df['rearrangement']
new_df['CDR3aa'] = df['amino_acid']
new_df['V'] = df['v_gene']
new_df['D'] = 'TRBD1'
new_df['J'] = df['j_gene']

In [34]:
new_df.head()

,count,frequency,CDR3nt,CDR3aa,V,D,J
0,5,0.000011,CTGGAGTCGGCTGCTCCCTCCCAGACATCTGTGTACTTCTGTGCCA...,CASSEASGANVLTF,BV06-01,TRBD1,BJ02-06
1,5,0.000011,ATGAATGTGAGCACCTTGGAGCTGGGGGACTCGGCCCTTTATCTTT...,CASSLAGNTIYF,BV05-01,TRBD1,BJ01-03
2,1,0.000002,GACCTCCCCCTCACTCTGGAGTCTGCTGCCTCCTCCCAGACATCTG...,CASRNEQFF,BV10-01,TRBD1,BJ02-01
3,1,0.000002,CCCCTCACTCTGGAGTCTGCTGCCTCCTCCCAGACATCTGTATATT...,CASSDAYEQYF,BV10-01,TRBD1,BJ02-07
4,2,0.000004,ATGAATGTGAGCACCTTGGAGCTGGGGGACTCGGCCCTTTATCTTT...,CASSLGNTEAFF,BV05-01,TRBD1,BJ01-01

In [38]:
new_df.to_csv('cmv_VDJtools_format/{}'.format(sample), sep='\t', index=False)

In [41]:
pd.read_csv('vdjmatch-1.3.1/HIP04555.HIP04555.txt', sep='\t').head()

,count,freq,cdr3nt,cdr3aa,v,d,j,VEnd,DStart,DEnd,...,complex.id,v.segm,j.segm,v.end,j.start,mhc.a,mhc.b,mhc.class,reference.id,vdjdb.score
0,237,0.000502,GTGAGCACCTTGGAGCTGGGGGACTCGGCCCTTTATCTTTGCGCCA...,CASSPSGGYNEQFF,BV05-01,TRBD1,BJ02-01,-1,-1,-1,...,0,TRBV9*01,TRBJ2-1*01,4,8,HLA-A*02,B2M,MHCI,PMID:28423320,0
1,37,0.000078,CTCAGGCTGCTGTCGGCTGCTCCCTCCCAGACATCTGTGTACTTCT...,CASSPGTDTQYF,BV06-05,TRBD1,BJ02-03,-1,-1,-1,...,0,TRBV7-8*01,TRBJ2-3*01,4,6,HLA-B*07:02,B2M,MHCI,PMID:28636589,0
2,32,0.000068,TTGGAGTCGGCTGCTCCCTCCCAAACATCTGTGTACTTCTGTGCCA...,CASSWDSSYNEQFF,unresolved,TRBD1,BJ02-01,-1,-1,-1,...,0,TRBV13*01,TRBJ2-1*01,4,7,HLA-A*02:01,B2M,MHCI,PMID:28636589,0
3,22,0.000047,GTGAGCAACATGAGCCCTGAAGACAGCAGCATATATCTCTGCAGCG...,CSVGTGGTNEKLFF,BV29-01,TRBD1,BJ01-04,-1,-1,-1,...,"981,984,417,2839",TRBV29-1*01,TRBJ1-4*01,3,7,"HLA-A*02:01,HLA-A*02",B2M,MHCI,"PMID:27645996,PMID:12504586,PMID:28636589,PMID...",3
4,21,0.000044,AATGTGAATGCCTTGGAGCTGGAGGACTCGGCCCTGTATCTCTGTG...,CASSWDSSYEQYF,BV05-08,TRBD1,BJ02-07,-1,-1,-1,...,0,TRBV7-9*01,TRBJ2-7*01,4,7,HLA-A*01:01,B2M,MHCI,PMID:28636589,0

In [44]:
pd.read_csv('vdjmatch-1.3.1/HIP04555.annot.summary.txt', sep='\t').head()

,sample_id,metadata_blank,db.column.name,db.column.value,unique,frequency,reads,db.unique,weight
0,HIP04555,.,antigen.epitope,CVNGSCFTV,2,0.000004,2,14,2.0
1,HIP04555,.,antigen.epitope,CTELKLSDY,3,0.000008,4,24,3.0
2,HIP04555,.,antigen.epitope,RLRPGGKKK,7,0.000034,16,33,7.0
3,HIP04555,.,antigen.epitope,GILGFVFTL,468,0.001356,640,2678,468.0
4,HIP04555,.,antigen.epitope,MLGEQLFPL,7,0.000019,9,11,7.0

In [2]:
import os
 
files = os.listdir('../cmv')
len(files)

788

In [3]:
files.remove('metadata.txt')
len(files)

787

In [16]:
files_all = set(os.listdir('../cmv')) - set(['metadata.txt'])
files_done = set(os.listdir('.'))
files = files_all - files_done

In [17]:
columns = ['count', 'frequency', 'CDR3nt', 'CDR3aa', 'V', 'D', 'J']
i = 0

for sample in files:
    df = pd.read_csv('../cmv/{}'.format(sample))
    new_df = pd.DataFrame(columns=columns)
    count_sum = df['templates'].sum()
    
    new_df['count'] = df['templates']

    new_df['frequency'] = df['templates'] / count_sum

    new_df['CDR3nt'] = df['rearrangement']
    new_df['CDR3aa'] = df['amino_acid']
    new_df['V'] = df['v_gene']
    new_df['D'] = 'TRBD1'
    new_df['J'] = df['j_gene']
    
    new_df.to_csv('{}'.format(sample), sep='\t', index=False)
    
    i += 1
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135